[discord]
# The prefix for commands the bot listens to, i.e. .ping triggers a response, ?ping does not.
prefix = .

# The token for the bot; get one at https://discord.com/developers/applications
token = keepmesecret

[log]
# You ... probably don't need to change any of this
level = INFO
suppress = discord.gateway,discord.client

# The ID of your error log channel. May be empty, in that case errors will only be logged to
# the console/syslog.
error_log_id = 12345678901234567

[database]
# The path where the database is stored. Default should be ok.
path = ./fuzzy.db
# The folder where the migrations are stored.
migrations = ./migrations

[info]
# The source code. If you run a version of Fuzzy with modified code, the license Fuzzy is under
# requires you to publish your changes.
# The easiest way to do that is to point this to a public repository with your version.
source = https://github.com/The-Valley-Discord/Fuzzy
